.card-img {
    object-fit: cover;
    height: 100%;
}
.row {
    padding-right: 2px;
}

.element {
    height: 100%;
}
/* Sección con la imagen de fondo */
.hero-section {
    position: relative;
    height: 100vh; /* Puedes ajustar la altura según prefieras */
    background-image: url('../../../public/assets/header-01.jpg'); /* URL de la imagen de fondo */
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 95%;
    background-color: rgba(0, 0, 0, 0.5); /* Capa oscura para mayor contraste */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    overflow-y: auto; /* Scroll cuando la lista crezca demasiado */
    padding: 20px;
}

.card {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para las cards */
    border-radius: 10px;
}

.card-body {
    color: black; /* Color de texto */
}

.title {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h2 {
    font-size: 50px;
}

.columna {
    display: flex;
    justify-content: center;
}

.formulario {
    margin-left: 8%;
}


